ENVIRONMENT=development
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
POSTGRES_USER=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
JWT_SECRET=super_secret
SECURITY_MEMORY=1024
SECURITY_ITERATIONS=1
SECURITY_PARALLELISM=1
SECURITY_SALT_LENGTH=16
SECURITY_KEY_LENGTH=16
LOG_LEVEL=debug
HTTP_PORT=8000
BASIC_AUTH_USER=admin
BASIC_AUTH_PASSWORD=admin
SPEC_PATH=/v1/docs/swagger.json
UPLOAD_PATH=./data/files
CDN_URL=http://localhost:8080/v1/file
REDIS_HOST=localhost:6379
REDIS_PASSWORD=admin
SENTRY_DSN=https://your_sentry_url
